.article-style {
  /* blockquote 样式 */
  /* code 样式 */
  /* ul ol 样式 */
}
.article-style table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.article-style table td,
.article-style table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.article-style table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.article-style blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}
.article-style code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
.article-style pre {
  padding: 10px 8px ;
  margin: 5px 0;
  overflow: auto;
}
.article-style pre code {
  display: block;
}
.article-style ul,
.article-style ol {
  margin: 10px 0 10px 20px;
}
.article-style p {
  font-size: 14px;
}
